<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Preadesioni Inviate</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content text-wrap padding>


    <ion-item class="test-item" style="margin:10px 0" *ngFor="let item of data">
  <ion-row >

      <ion-col col-12><h3><b>{{item.titolo_ricorso}}</b></h3></ion-col>

      <ion-col col-6><b>DATA ADESIONE:</b></ion-col>
      <ion-col col-6>{{item.data_adesione}}</ion-col>

      <ion-col col-6><b>STATO:</b></ion-col>
      <ion-col col-6>{{item.stato_txt}}</ion-col>

      <ion-col col-6><b>Stato pagamenti:</b></ion-col>
      <ion-col col-6> <button (click)="doalert(item)">VERIFICA 
        </button></ion-col>





  </ion-row>
  </ion-item>

</ion-content>
