<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>RICORSI </ion-title>
    <ion-buttons end>
      <button ion-button (click)="presentAlert()">
        <span style="margin-right:5px;">Agg. alle Preadesioni</span> <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-wrap padding>
<ion-item>
  <ion-row>
    <ion-col>
      <h4 class="cat-sup" [innerHTML]="v.cat_title">{{v.cat_title}}</h4>
    </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <h2 class="supertitolo">{{v.title}}</h2>

      <p class="testo-ric" [innerHTML]="v.introtext">
        {{v.introtext}}
        </p>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    <h3 class="titolo"> Requisiti: </h3>
      <p class="testo-ric" [innerHTML]="v.requisiti">{{v.requisiti}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h3 class="titolo"> Modalità di preadesione: </h3>
    <p class="testo-ric" [innerHTML]="v.preadesione">{{v.preadesione}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h3 class="titolo"> COSTI DI PREADESIONE: </h3>
    <p class="testo-ric" [innerHTML]="v.frase_costo">{{v.frase_costo}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h3 class="titolo"> COSTI E SERVIZI: </h3>
    <p  class="testo-ric" [innerHTML]="v.costo_desc">{{v.costo_desc}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h3 class="titolo"> CASI PARTICOLARI: </h3>
    <p  class="testo-ric" [innerHTML]="v.casiparticolari">{{v.casiparticolari}}</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h3 class="titolo"> NOTA BENE: </h3>
    <p class="testo-ric" [innerHTML]="v.note">{{v.note}}</p><br/>
  </ion-col>
</ion-row>
</ion-item>


</ion-content>
