<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>LOGIN</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
<form (ngSubmit)="login()" #registerForm="ngForm">
  <ion-list padding>
    <ion-item>
      <ion-label floating><ion-icon name="people"></ion-icon> Email</ion-label>
      <ion-input type="email" name="email" value="" [(ngModel)]="requestData.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating> <ion-icon name="lock"></ion-icon> Password</ion-label>
      <ion-input [(ngModel)]="requestData.password" required type="password" name="password"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button color="primary" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
  </div>
</form>
<div padding>
  <a button ion-button color="secondary" full href="https://anief.org/index.php?option=com_anief&view=registration&Itemid=805">Registrati</a>
</div>

</ion-content>
