page-introduzione {
  .swiper-pagination-bullet-active {
      background: #A713E8;
    }
    ion-slide{

    }
    .masterslide{
      background: #005aa7!important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff1e1e, #f9f9f9)!important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff1e1e, #f9f9f9)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .swiper-slide img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: auto;
}
}
