<ion-content class="masterslide">
  <ion-slides pager="true" parallax="true" padding>

    <ion-slide>
      <img src="assets/imgs/logo.PNG">
      <h1>Benvenuti nell'app di Anief</h1>
      <p>Lorem Ipsum dolor sit amet</p>
    </ion-slide>

    <ion-slide>
      <ion-icon style="font-size:6em; margin-bottom:20px;" name="paper"></ion-icon>
      <h6>NEWS</h6>
      <p>Rimani informato e consulta le nostre pubblicazioni</p>
    </ion-slide>
    <ion-slide>
      <ion-icon style="font-size:6em; margin-bottom:20px;" name="mail"></ion-icon>
      <h6>CONTATTI</h6>
      <p>Trova la sede più vicina a te!</p>
    </ion-slide>
    <ion-slide>
      <ion-icon style="font-size:6em; margin-bottom:20px;" name="people"></ion-icon>
      <h6>ACCOUNT</h6>
      <p>Ricevi Informative e Controlla lo stato dei tuoi ricorsi</p>
    </ion-slide>

    <ion-slide>
      <ion-icon style="font-size:6em; margin-bottom:20px;" name="hammer"></ion-icon>
      <h1>RICORSI</h1>
      <p>Visualizza tutti i nostri ricorsi divisi per Categoria</p>
      <button ion-button outline small (click)="navHome()">
        Inizia
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
