<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>REGISTRATI</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list padding>
          <h3>Accesso ai servizi online</h3>
          <ion-item>
            <ion-label floating>Indirizzo email *</ion-label>
            <ion-input [(ngModel)]="email" type="email" value=""></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating> Conferma Email *</ion-label>
              <ion-input [(ngModel)]="email" type="email" value=""></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating> Password *</ion-label>
              <ion-input [(ngModel)]="password" type="password" value=""></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating> Conferma password *</ion-label>
              <ion-input [(ngModel)]="password" type="password" value=""></ion-input>
          </ion-item>
          <h3>Anagrafica</h3>
              <ion-item>
                  <ion-label floating> Nome</ion-label>
                  <ion-input [(ngModel)]="nome" type="text" value=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating> Cognome *</ion-label>
                  <ion-input [(ngModel)]="cognome" type="text" value=""></ion-input>
              </ion-item>
              <br />
              <ion-item>
                  <ion-label>Sesso</ion-label>
                  <ion-select [(ngModel)]="sesso">
                    <ion-option value="f">Femmina</ion-option>
                    <ion-option value="m">Maschio</ion-option>
                  </ion-select>
            </ion-item>
                  <ion-item>
                    <ion-label floating> Luogo di nascita *</ion-label>
                    <ion-input [(ngModel)]="luogonascita" type="text" value=""></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label floating>  Provincia di Nascita *</ion-label>
                      <ion-select [(ngModel)]="provincianascita">
                      <ion-option value="AG">Agrigento - AG</ion-option>
                        <ion-option value="AL">Alessandria - AL</ion-option>
                        <ion-option value="AN">Ancona - AN</ion-option>
                        <ion-option value="AR">Arezzo - AR</ion-option>
                        <ion-option value="AP">Ascoli Piceno - AP</ion-option>
                        <ion-option value="AT">Asti - AT</ion-option>
                        <ion-option value="AV">Avellino - AV</ion-option>
                        <ion-option value="BA">Bari - BA</ion-option>
                        <ion-option value="BT">Barletta - Andria - Trani - BT</ion-option>
                        <ion-option value="BL">Belluno - BL</ion-option>
                        <ion-option value="BN">Benevento - BN</ion-option>
                        <ion-option value="BG">Bergamo - BG</ion-option>
                        <ion-option value="BI">Biella - BI</ion-option>
                        <ion-option value="BO">Bologna - BO</ion-option>
                        <ion-option value="BZ">Bolzano - BZ</ion-option>
                        <ion-option value="BS">Brescia - BS</ion-option>
                        <ion-option value="BR">Brindisi - BR</ion-option>
                        <ion-option value="CA">Cagliari - CA</ion-option>
                        <ion-option value="CL">Caltanissetta - CL</ion-option>
                        <ion-option value="CB">Campobasso - CB</ion-option>
                        <ion-option value="CI">Carbonia-Iglesias - CI</ion-option>
                        <ion-option value="CE">Caserta - CE</ion-option>
                        <ion-option value="CT">Catania - CT</ion-option>
                        <ion-option value="CZ">Catanzaro - CZ</ion-option>
                        <ion-option value="CH">Chieti - CH</ion-option>
                        <ion-option value="CO">Como - CO</ion-option>
                        <ion-option value="CS">Cosenza - CS</ion-option>
                        <ion-option value="CR">Cremona - CR</ion-option>
                        <ion-option value="KR">Crotone - KR</ion-option>
                        <ion-option value="CN">Cuneo - CN</ion-option>
                        <ion-option value="EE">EE - Stato Estero - EE</ion-option>
                        <ion-option value="EN">Enna - EN</ion-option>
                        <ion-option value="FM">Fermo - FM</ion-option>
                        <ion-option value="FE">Ferrara - FE</ion-option>
                        <ion-option value="FI">Firenze - FI</ion-option>
                        <ion-option value="FG">Foggia - FG</ion-option>
                        <ion-option value="FC">Forlì-Cesena - FC</ion-option>
                        <ion-option value="FR">Frosinone - FR</ion-option>
                        <ion-option value="GE">Genova - GE</ion-option>
                        <ion-option value="GO">Gorizia - GO</ion-option>
                        <ion-option value="GR">Grosseto - GR</ion-option>
                        <ion-option value="IM">Imperia - IM</ion-option>
                        <ion-option value="IS">Isernia - IS</ion-option>
                        <ion-option value="AQ">L'Aquila - AQ</ion-option>
                        <ion-option value="SP">La Spezia - SP</ion-option>
                        <ion-option value="LT">Latina - LT</ion-option>
                        <ion-option value="LE">Lecce - LE</ion-option>
                        <ion-option value="LC">Lecco - LC</ion-option>
                        <ion-option value="LI">Livorno - LI</ion-option>
                        <ion-option value="LO">Lodi - LO</ion-option>
                        <ion-option value="LU">Lucca - LU</ion-option>
                        <ion-option value="MC">Macerata - MC</ion-option>
                        <ion-option value="MN">Mantova - MN</ion-option>
                        <ion-option value="MS">Massa-Carrara - MS</ion-option>
                        <ion-option value="MT">Matera - MT</ion-option>
                        <ion-option value="VS">Medio Campidano - VS</ion-option>
                        <ion-option value="ME">Messina - ME</ion-option>
                        <ion-option value="MI">Milano - MI</ion-option>
                        <ion-option value="MO">Modena - MO</ion-option>
                        <ion-option value="MB">Monza-Brianza - MB</ion-option>
                        <ion-option value="NA">Napoli - NA</ion-option>
                        <ion-option value="NO">Novara - NO</ion-option>
                        <ion-option value="NU">Nuoro - NU</ion-option>
                        <ion-option value="OG">Ogliastra - OG</ion-option>
                        <ion-option value="OT">Olbia-Tempio - OT</ion-option>
                        <ion-option value="OR">Oristano - OR</ion-option>
                        <ion-option value="PD">Padova - PD</ion-option>
                        <ion-option value="PA">Palermo - PA</ion-option>
                        <ion-option value="PR">Parma - PR</ion-option>
                        <ion-option value="PV">Pavia - PV</ion-option>
                        <ion-option value="PG">Perugia - PG</ion-option>
                        <ion-option value="PU">Pesaro e Urbino - PU</ion-option>
                        <ion-option value="PE">Pescara - PE</ion-option>
                        <ion-option value="PC">Piacenza - PC</ion-option>
                        <ion-option value="PI">Pisa - PI</ion-option>
                        <ion-option value="PT">Pistoia - PT</ion-option>
                        <ion-option value="PN">Pordenone - PN</ion-option>
                        <ion-option value="PZ">Potenza - PZ</ion-option>
                        <ion-option value="PO">Prato - PO</ion-option>
                        <ion-option value="RG">Ragusa - RG</ion-option>
                        <ion-option value="RA">Ravenna - RA</ion-option>
                        <ion-option value="RC">Reggio Calabria - RC</ion-option>
                        <ion-option value="RE">Reggio Emilia - RE</ion-option>
                        <ion-option value="RI">Rieti - RI</ion-option>
                        <ion-option value="RN">Rimini - RN</ion-option>
                        <ion-option value="RM">Roma - RM</ion-option>
                        <ion-option value="RO">Rovigo - RO</ion-option>
                        <ion-option value="SA">Salerno - SA</ion-option>
                        <ion-option value="SS">Sassari - SS</ion-option>
                        <ion-option value="SV">Savona - SV</ion-option>
                        <ion-option value="SI">Siena - SI</ion-option>
                        <ion-option value="SR">Siracusa - SR</ion-option>
                        <ion-option value="SO">Sondrio - SO</ion-option>
                        <ion-option value="TA">Taranto - TA</ion-option>
                        <ion-option value="TE">Teramo - TE</ion-option>
                        <ion-option value="TR">Terni - TR</ion-option>
                        <ion-option value="TO">Torino - TO</ion-option>
                        <ion-option value="TP">Trapani - TP</ion-option>
                        <ion-option value="TN">Trento - TN</ion-option>
                        <ion-option value="TV">Treviso - TV</ion-option>
                        <ion-option value="TS">Trieste - TS</ion-option>
                        <ion-option value="UD">Udine - UD</ion-option>
                        <ion-option value="AO">Valle d'Aosta - AO</ion-option>
                        <ion-option value="VA">Varese - VA</ion-option>
                        <ion-option value="VE">Venezia - VE</ion-option>
                        <ion-option value="VB">Verbano-Cusio-Ossola - VB</ion-option>
                        <ion-option value="VC">Vercelli - VC</ion-option>
                        <ion-option value="VR">Verona - VR</ion-option>
                        <ion-option value="VV">Vibo Valentia - VV</ion-option>
                        <ion-option value="VI">Vicenza - VI</ion-option>
                        <ion-option value="VT">Viterbo - VT</ion-option>
                        </ion-select>
                  </ion-item>
              <ion-item>
                  <ion-label> Data di nascita *</ion-label>
                  <ion-input [(ngModel)]="datanascita" type="date" value=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Codice fiscale * </ion-label>
                  <ion-input [(ngModel)]="codicefiscale" type="text" value=""></ion-input>
              </ion-item>
              <h3>Residenza</h3>
              <ion-item>
                  <ion-label floating>Indirizzo * </ion-label>
                  <ion-input [(ngModel)]="indirizzo" type="text" value=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>  Civico * </ion-label>
                  <ion-input [(ngModel)]="civico" type="number" value=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>CAP *</ion-label>
                  <ion-input [(ngModel)]="cap" type="number" value=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Città * </ion-label>
                  <ion-input [(ngModel)]="citta" type="text" value=""></ion-input>
              </ion-item>
              <br />
              <ion-item>
                  <ion-label floating>  Provincia *</ion-label>
                  <ion-select [(ngModel)]="provincia">
                  <ion-option value="AG">Agrigento - AG</ion-option>
                    <ion-option value="AL">Alessandria - AL</ion-option>
                    <ion-option value="AN">Ancona - AN</ion-option>
                    <ion-option value="AR">Arezzo - AR</ion-option>
                    <ion-option value="AP">Ascoli Piceno - AP</ion-option>
                    <ion-option value="AT">Asti - AT</ion-option>
                    <ion-option value="AV">Avellino - AV</ion-option>
                    <ion-option value="BA">Bari - BA</ion-option>
                    <ion-option value="BT">Barletta - Andria - Trani - BT</ion-option>
                    <ion-option value="BL">Belluno - BL</ion-option>
                    <ion-option value="BN">Benevento - BN</ion-option>
                    <ion-option value="BG">Bergamo - BG</ion-option>
                    <ion-option value="BI">Biella - BI</ion-option>
                    <ion-option value="BO">Bologna - BO</ion-option>
                    <ion-option value="BZ">Bolzano - BZ</ion-option>
                    <ion-option value="BS">Brescia - BS</ion-option>
                    <ion-option value="BR">Brindisi - BR</ion-option>
                    <ion-option value="CA">Cagliari - CA</ion-option>
                    <ion-option value="CL">Caltanissetta - CL</ion-option>
                    <ion-option value="CB">Campobasso - CB</ion-option>
                    <ion-option value="CI">Carbonia-Iglesias - CI</ion-option>
                    <ion-option value="CE">Caserta - CE</ion-option>
                    <ion-option value="CT">Catania - CT</ion-option>
                    <ion-option value="CZ">Catanzaro - CZ</ion-option>
                    <ion-option value="CH">Chieti - CH</ion-option>
                    <ion-option value="CO">Como - CO</ion-option>
                    <ion-option value="CS">Cosenza - CS</ion-option>
                    <ion-option value="CR">Cremona - CR</ion-option>
                    <ion-option value="KR">Crotone - KR</ion-option>
                    <ion-option value="CN">Cuneo - CN</ion-option>
                    <ion-option value="EE">EE - Stato Estero - EE</ion-option>
                    <ion-option value="EN">Enna - EN</ion-option>
                    <ion-option value="FM">Fermo - FM</ion-option>
                    <ion-option value="FE">Ferrara - FE</ion-option>
                    <ion-option value="FI">Firenze - FI</ion-option>
                    <ion-option value="FG">Foggia - FG</ion-option>
                    <ion-option value="FC">Forlì-Cesena - FC</ion-option>
                    <ion-option value="FR">Frosinone - FR</ion-option>
                    <ion-option value="GE">Genova - GE</ion-option>
                    <ion-option value="GO">Gorizia - GO</ion-option>
                    <ion-option value="GR">Grosseto - GR</ion-option>
                    <ion-option value="IM">Imperia - IM</ion-option>
                    <ion-option value="IS">Isernia - IS</ion-option>
                    <ion-option value="AQ">L'Aquila - AQ</ion-option>
                    <ion-option value="SP">La Spezia - SP</ion-option>
                    <ion-option value="LT">Latina - LT</ion-option>
                    <ion-option value="LE">Lecce - LE</ion-option>
                    <ion-option value="LC">Lecco - LC</ion-option>
                    <ion-option value="LI">Livorno - LI</ion-option>
                    <ion-option value="LO">Lodi - LO</ion-option>
                    <ion-option value="LU">Lucca - LU</ion-option>
                    <ion-option value="MC">Macerata - MC</ion-option>
                    <ion-option value="MN">Mantova - MN</ion-option>
                    <ion-option value="MS">Massa-Carrara - MS</ion-option>
                    <ion-option value="MT">Matera - MT</ion-option>
                    <ion-option value="VS">Medio Campidano - VS</ion-option>
                    <ion-option value="ME">Messina - ME</ion-option>
                    <ion-option value="MI">Milano - MI</ion-option>
                    <ion-option value="MO">Modena - MO</ion-option>
                    <ion-option value="MB">Monza-Brianza - MB</ion-option>
                    <ion-option value="NA">Napoli - NA</ion-option>
                    <ion-option value="NO">Novara - NO</ion-option>
                    <ion-option value="NU">Nuoro - NU</ion-option>
                    <ion-option value="OG">Ogliastra - OG</ion-option>
                    <ion-option value="OT">Olbia-Tempio - OT</ion-option>
                    <ion-option value="OR">Oristano - OR</ion-option>
                    <ion-option value="PD">Padova - PD</ion-option>
                    <ion-option value="PA">Palermo - PA</ion-option>
                    <ion-option value="PR">Parma - PR</ion-option>
                    <ion-option value="PV">Pavia - PV</ion-option>
                    <ion-option value="PG">Perugia - PG</ion-option>
                    <ion-option value="PU">Pesaro e Urbino - PU</ion-option>
                    <ion-option value="PE">Pescara - PE</ion-option>
                    <ion-option value="PC">Piacenza - PC</ion-option>
                    <ion-option value="PI">Pisa - PI</ion-option>
                    <ion-option value="PT">Pistoia - PT</ion-option>
                    <ion-option value="PN">Pordenone - PN</ion-option>
                    <ion-option value="PZ">Potenza - PZ</ion-option>
                    <ion-option value="PO">Prato - PO</ion-option>
                    <ion-option value="RG">Ragusa - RG</ion-option>
                    <ion-option value="RA">Ravenna - RA</ion-option>
                    <ion-option value="RC">Reggio Calabria - RC</ion-option>
                    <ion-option value="RE">Reggio Emilia - RE</ion-option>
                    <ion-option value="RI">Rieti - RI</ion-option>
                    <ion-option value="RN">Rimini - RN</ion-option>
                    <ion-option value="RM">Roma - RM</ion-option>
                    <ion-option value="RO">Rovigo - RO</ion-option>
                    <ion-option value="SA">Salerno - SA</ion-option>
                    <ion-option value="SS">Sassari - SS</ion-option>
                    <ion-option value="SV">Savona - SV</ion-option>
                    <ion-option value="SI">Siena - SI</ion-option>
                    <ion-option value="SR">Siracusa - SR</ion-option>
                    <ion-option value="SO">Sondrio - SO</ion-option>
                    <ion-option value="TA">Taranto - TA</ion-option>
                    <ion-option value="TE">Teramo - TE</ion-option>
                    <ion-option value="TR">Terni - TR</ion-option>
                    <ion-option value="TO">Torino - TO</ion-option>
                    <ion-option value="TP">Trapani - TP</ion-option>
                    <ion-option value="TN">Trento - TN</ion-option>
                    <ion-option value="TV">Treviso - TV</ion-option>
                    <ion-option value="TS">Trieste - TS</ion-option>
                    <ion-option value="UD">Udine - UD</ion-option>
                    <ion-option value="AO">Valle d'Aosta - AO</ion-option>
                    <ion-option value="VA">Varese - VA</ion-option>
                    <ion-option value="VE">Venezia - VE</ion-option>
                    <ion-option value="VB">Verbano-Cusio-Ossola - VB</ion-option>
                    <ion-option value="VC">Vercelli - VC</ion-option>
                    <ion-option value="VR">Verona - VR</ion-option>
                    <ion-option value="VV">Vibo Valentia - VV</ion-option>
                    <ion-option value="VI">Vicenza - VI</ion-option>
                    <ion-option value="VT">Viterbo - VT</ion-option>
                    </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label floating>Telefono fisso * </ion-label>
                  <ion-input [(ngModel)]="telfisso" type="tel" value=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Cellulare  </ion-label>
                  <ion-input [(ngModel)]="cellulare" type="tel" value=""></ion-input>
              </ion-item>
              <h3>Inquadramento Scuola</h3>
              <ion-item>
                <ion-label>Inquadramento</ion-label>
                  <ion-select [(ngModel)]="Inquadramento">
                    <ion-option value="" selected="selected">Seleziona Situazione contrattuale</ion-option >
                    <ion-option value="KA">Di Ruolo</ion-option >
                    <ion-option value="KS">Supplente annuale (scadenza contratto 30 giu. - 31 ago.)</ion-option >
                    <ion-option value="KT">Supplente temporaneo  (supplenze pari o superiori a 15gg)</ion-option >
                    <ion-option value="T">Supplenza breve (durata inferiore ai 15 gg.)</ion-option >
                    <ion-option value="I">Inoccupato</ion-option >
                    <ion-option value="P">Dipendente scuola privata</ion-option >
                  </ion-select>
              </ion-item>
              <br />
              <ion-item>
                <ion-label>Classe di Concorso</ion-label>
                <ion-select [(ngModel)]="classeconcorso">
                  <ion-option value="" selected="selected">- Sel. un opzione -</ion-option>
                  	<ion-option value="A-01">A-01 - Arte e Immagine nella scuola secondaria di primo grado (28/A EDUCAZIONE ARTISTICA)</ion-option>
                  	<ion-option value="A-02">A-02 - Design dei metalli (10/A  ARTE DEI METALLI E DELL'OREFICERIA; 1/D ARTE DELLA LAVORAZIONE DEI METALLI; 2/D ARTE DELL'OREFICERIA, DELLA LAVORAZIONE DELLE PIETRE DURE E DELLE GEMME)</ion-option>
                  	<ion-option value="A-03">A-03 - Design della ceramica (6/A ARTE DELLA CERAMICA; 7/D ARTE DEL RESTAURO, DELLA CERAMICA E DEL VETRO; 8/D ARTE DELLA DECORAZIONE E COTTURA DEI PRODOTTI CERAMICI; 9/D ARTE DELLA FORMATURA E DELLA FOGGIATURA; 22/D LABORATORIO TECNOLOGICO DELLE ARTI DELLA CERAMICA, DEL VETRO E DEL CR)</ion-option>
                  	<ion-option value="A-04">A-04 - Design del libro (9/A ARTE DELLA STAMPA E DEL RESTAURO DEL LIBRO; 17/D ARTE DELLA LEGATORIA E DEL RESTAURO DEL LIBRO)</ion-option>
                  	<ion-option value="A-05">A-05 - Design del tessuto e della moda (4/A ARTE DEL TESSUTO, DELLA MODA E DEL COSTUME; 5/D ARTE DELLA TESSITURA E DELLA DECORAZIONE DEI TESSUTI; 14/D ARTE DEL TAGLIO E CONFEZIONE)</ion-option>
                  	<ion-option value="A-06">A-06 - Design del vetro (5/A ARTE DEL VETRO; 6/D ARTE DELLE LAVORAZIONI DEL VETRO E DELLA VETRATA)</ion-option>
                  	<ion-option value="A-07">A-07 - Discipline Audiovisive (3/A ARTE DEL DISEGNO ANIMATO; 3/D ARTE DEL DISEGNO DI ANIMAZIONE; 4/D ARTE DELLA RIPRESA E MONTAGGIO PER IL DISEGNO ANIMATO; 10/D ARTE DELLA FOTOGRAFIA E DELLA CINEMATOGRAFIA)</ion-option>
                  	<ion-option value="A-08">A-08 - Discipline geometriche (18/A DISCIPLINE GEOMETRICHE, ARCHITETTONICHE, ARREDAMENTO E SCENOTECNICA; 16/D ARTE DELLA MODELLISTICA, DELL'ARREDAMENTO E DELLA SCENOTECNICA; 18/D ARTE DELL'EBANISTERIA, DELL'INTAGLIO DELL'INTARSIO)</ion-option>
                  	<ion-option value="A-09">A-09 - Discipline grafiche (8/A ARTE DELLA GRAFICA E DELL'INCISIONE; 21/A DISCIPLINE PITTORICHE; 11/D ARTE DELLA XILOGRAFIA, CALCOGRAFIA E LITOGRAFIA; 15/D ARTE DELLA DECORAZIONE PITTORICA E SCENOGRAFICA; 19/D ARTE DELLE LACCHE, DELLA DORATURA E DEL RESTAURO; 20/D ARTE DEL MOSAICO E)</ion-option>
                  	<ion-option value="A-10">A-10 - Discipline grafico-pubblicitarie (7/A ARTE DELLA FOTOGRAFIA E DELLA GRAFICA PUBBLICITARIA; 12/D ARTE DELLA SERIGRAFIA E DELLA FOTOINCISIONE; 13/D ARTE DELLA TIPOGRAFIA E DELLA GRAFICA PUBBLICITARIA)</ion-option>
                  	<ion-option value="A-11">A-11 - Discipline letterarie e latino (51/A MATERIE LETTERARIE E LATINO NEI LICEI E NELL'ISTITUTO MAGISTRALE)</ion-option>
                  	<ion-option value="A-12">A-12 - Discipline letterarie negli istituti di istruzione secondaria di II grado (50/A MATERIE LETTERARIE NEGLI ISTITUTI DI ISTRUZIONE SECONDARIA DI GRADO)</ion-option>
                  	<ion-option value="A-13">A-13 - Discipline letterarie (52/A MATERIE LETTERARIE, LATINO E GRECO NEL LICEO CLASSICO)</ion-option>
                  	<ion-option value="A-14">A-14 - Discipline plastiche (22/A DISCIPLINE PLASTICHE; 21/D  ARTE DELLA LAVORAZIONE DEL MARMO E DELLA PIETRA)</ion-option>
                  	<ion-option value="A-15">A-15 - Discipline sanitarie (2/A ANATOMIA, FISIOPATOLOGIA OCULARE E LABORATORIO DI MISURE OFTALMICHE; 40/A IGIENE, ANATOMIA, FISIOLOGIA, PATOLOGIA GENERALE E DELL'APPARATO MASTICATORIO)</ion-option>
                  	<ion-option value="A-16">A-16 - Disegno artistico e modellazione odontotecnica (23/A DISEGNO E MODELLAZIONE ODONTOTECNICA; 27/A DISEGNO TECNICO E ARTISTICO)</ion-option>
                  	<ion-option value="A-17">A-17 - Disegno e storia dell'arte negli istituti secondaria di II grado (24/A DISEGNO E STORIA DEL COSTUME; 25/A DISEGNO E STORIA DELL'ARTE)</ion-option>
                  	<ion-option value="A-18">A-18 - Filosofia e Scienze umane (36/A FILOSOFIA, PSICOLOGIA E SCIENZE DELL'EDUCAZIONE)</ion-option>
                  	<ion-option value="A-19">A-19 - Filosofia e Storia (37/A FILOSOFIA E STORIA)</ion-option>
                  	<ion-option value="A-20">A-20 - Fisica (38/A FISICA)</ion-option>
                  	<ion-option value="A-21">A-21 - Geografia (39/A A GEOGRAFIA)</ion-option>
                  	<ion-option value="A-22">A-22 - Italiano (43/A ITALIANO, STORIA ED EDUCAZIONE CIVICA, GEOGRAFIA,NELLA SCUOLA MEDIA)</ion-option>
                  	<ion-option value="A-23">A-23 - Lingua italiana per discenti di lingua straniera</ion-option>
                  	<ion-option value="A-26">A-26 - Matematica (47/A MATEMATICA)</ion-option>
                  	<ion-option value="A-27">A-27 - Matematica e Fisica (49/A MATEMATICA E FISICA)</ion-option>
                  	<ion-option value="A-28">A-28 - Matematica e scienze (59/A SCIENZE MATEMATICHE, CHIMICHE, FISICHE E NATURALI NELLA SCUOLA MEDIA)</ion-option>
                  	<ion-option value="A-29">A-29 - Musica negli istituti di istruzione secondaria di II grado (31/A EDUCAZIONE MUSICALE NEGLI ISTITUTI DI ISTRUZIONE SECONDARIA DI SECONDO GRADO)</ion-option>
                  	<ion-option value="A-30">A-30 - Musica nella scuola secondaria di I grado (32/A EDUCAZIONE MUSICALE NELLA SCUOLA MEDIA)</ion-option>
                  	<ion-option value="A-31">A-31 - Scienze degli alimenti (57/A SCIENZA DEGLI ALIMENTI)</ion-option>
                  	<ion-option value="A-32">A-32 - Scienze della geologia e della mineralogia (11/A ARTE MINERARIA; 54/A MINERALOGIA E GEOLOGIA)</ion-option>
                  	<ion-option value="A-33">A-33 - Scienze e tecnologie aeronautiche (14/A CIRCOLAZIONE AEREA, TELECOMUNICAZIONI AERONAUTICHE ED ESERCITAZIONI; 53/A METEOROLOGIA AERONAUTICA ED ESERCITAZIONI; 55/A NAVIGAZIONE AEREA ED ESERCITAZIONI)</ion-option>
                  	<ion-option value="A-34">A-34 - Scienze e tecnologie chimiche (12/A CHIMICA AGRARIA; 13/A CHIMICA E TECNOLOGIE CHIMICHE; 66/A TECNOLOGIA CERAMICA)</ion-option>
                  	<ion-option value="A-35">A-35 - Scienze e tecnologie della calzatura e della moda</ion-option>
                  	<ion-option value="A-36">A-36 - Scienze e tecnologie della logistica</ion-option>
                  	<ion-option value="A-37">A-37 - Scienze e tecnologie delle costruzioni (16/A COSTRUZIONI, TECNOLOGIA DELLE COSTRUZIONI E DISEGNO TECNICO; 71/A TECNOLOGIA E DISEGNO TECNICO; 72/A TOPOGRAFIA GENERALE, COSTRUZIONI RURALI E DISEGNO)</ion-option>
                  	<ion-option value="A-38">A-38 - Scienze e tecnologie delle costruzioni aeronautiche (1/A AEROTECNICA E COSTRUZIONI AERONAUTICHE)</ion-option>
                  	<ion-option value="A-39">A-39 - Scienze e tecnologie delle costruzioni navali (15/A COSTRUZIONI NAVALI E TEORIA DELLA NAVE)</ion-option>
                  	<ion-option value="A-40">A-40 - Scienze e tecnologie elettriche ed elettroniche (34/A ELETTRONICA; 35/A ELETTROTECNICA ED APPLICAZIONI)</ion-option>
                  	<ion-option value="A-41">A-41 - Scienze e tecnologie informatiche (42/A INFORMATICA)</ion-option>
                  	<ion-option value="A-42">A-42 - Scienze e tecnologie meccaniche (20/A DISCIPLINE MECCANICHE E TECNOLOGIA)</ion-option>
                  	<ion-option value="A-43">A-43 - Scienze e tecnologie nautiche (56/A NAVIGAZIONE, ARTE NAVALE ED ELEMENTI DI COSTRUZIONI NAVALI)</ion-option>
                  	<ion-option value="A-44">A-44 - Scienze e tecnologie tessili (68/A TECNOLOGIE DELL'ABBIGLIAMENTO; 70/A TECNOLOGIE TESSILI)</ion-option>
                  	<ion-option value="A-45">A-45 - Scienze economico-aziendali (A/17 DISCIPLINE ECONOMICO-AZIENDALI)</ion-option>
                  	<ion-option value="A-46">A-46 - Scienze giuridico -economiche (19/A DISCIPLINE GIURIDICHE ED ECONOMICHE)</ion-option>
                  	<ion-option value="A-47">A-47 - Scienze matematiche applicate (48/A MATEMATICA APPLICATA)</ion-option>
                  	<ion-option value="A-48">A-48 - Scienze motorie e sportive negli istituti di secondaria di II grado (29/A EDUCAZIONE FISICA NELLE SCUOLE ED ISTITUTI DI ISTRUZIONE SECONDARIA DI SECONDO GRADO)</ion-option>
                  	<ion-option value="A-49">A-49 - Scienze motorie e sportive nella scuola secondaria di I grado (30/A EDUCAZIONE FISICA NELLA SCUOLA MEDIA)</ion-option>
                  	<ion-option value="A-50">A-50 - Scienze naturali (60/A SCIENZE NATURALI, CHIMICA E GEOGRAFIA, MICROBIOLOGIA)</ion-option>
                  	<ion-option value="A-51">A-51 - Scienze (58/A SCIENZE E MECCANICA AGRARIA E TECNICHE DI GESTIONE AZIENDALE, FITOPATOLOGIA ED ENTOMOLOGIA AGRARIA)</ion-option>
                  	<ion-option value="A-52">A-52 - Scienze (74/A ZOOTECNICA E SCIENZA DELLA PRODUZIONE ANIMALE)</ion-option>
                  	<ion-option value="A-53">A-53 - Storia della musica</ion-option>
                  	<ion-option value="A-54">A-54 - Storia dell'arte (61/A STORIA DELL'ARTE)</ion-option>
                  	<ion-option value="A-55">A-55 - Strumento musicale negli istituti di istruzione secondaria</ion-option>
                  	<ion-option value="A-56">A-56 - Strumento musicale nella scuola secondaria di I grado (77/A STRUMENTO MUSICALE NELLA SCUOLA MEDIA)</ion-option>
                  	<ion-option value="A-57">A-57 - Tecnica della danza classica</ion-option>
                  	<ion-option value="A-58">A-58 - Tecnica della danza contemporanea</ion-option>
                  	<ion-option value="A-59">A-59 - Tecniche di accompagnamento alla danza e teoria e pratica musicale per la danza</ion-option>
                  	<ion-option value="A-60">A-60 - Tecnologia nella scuola secondaria di I grado (33/A EDUCAZIONE TECNICA NELLA SCUOLA MEDIA)</ion-option>
                  	<ion-option value="A-61">A-61 - Tecnologie e tecniche delle comunicazioni multimediali (44/A LINGUAGGIO PER CINEMATOGRAFIA E LA TELEVISIONE; 62/A TECNICA DELLA REGISTRAZIONE DEL  SUONO; 63/A TEORIA DELLA RIPRESA CINEMATOGRAFICA E TELEVISIVA; 64/A TECNICA E ORGANIZZAZIONE DELLA PRODUZIONE CINEMATOGRAFICA E TELEVISIVA; 65/A TECNICA FOTOGRAFICA)</ion-option>
                  	<ion-option value="A-62">A-62 - Tecnologie e tecniche per la grafica (69/A TECNOLOGIE GRAFICHE ED IMPIANTI GRAFICI)</ion-option>
                  	<ion-option value="A-63">A-63 - Tecnologie musicali</ion-option>
                  	<ion-option value="A-64">A-64 - Teoria</ion-option>
                  	<ion-option value="A-65">A-65 - Teoria e tecnica della comunicazione</ion-option>
                  	<ion-option value="A-66">A-66 - Trattamento testi (75/A DATTILOGRAFIA, STENOGRAFIA, TRATTAMENTO TESTI E DATI; 76/A TRATTAMENTO TESTI, CALCOLO, CONTABILITÀ ELETTRONICA ED APPLICAZIONI GESTIONALI)</ion-option>
                  	<ion-option value="A-70">A-70 - Italiano (80/A ITALIANO NELLA SCUOLA MEDIA CON LINGUA DI INSEGNAMENTO SLOVENA)</ion-option>
                  	<ion-option value="A-71">A-71 - Sloveno (85/A SLOVENO, STORIA ED EDUCAZIONE CIVICA , GEOGRAFIA NELLA SCUOLA MEDIA CON LINGUA DI INSEGNAMENTO SLOVENO)</ion-option>
                  	<ion-option value="A-72">A-72 - Discipline letterarie (italiano seconda lingua) negli istituti di istruzione secondaria di II grado con lingua di insegnamento slovena o bilingue del Friuli Venezia Giulia (81/A LINGUA E LETTERE ITALIANE NEGLI ISTITUTI DI ISTRUZIONE SECONDARIA DI SECONDO GRADO CON LINGUA DI INSEGNAMENTO SLOVENA)</ion-option>
                  	<ion-option value="A-73">A-73 - Discipline letterarie negli istituti di istruzione secondaria di II grado in lingua slovena con lingua di insegnamento slovena o bilingue del Friuli Venezia Giulia (82/A MATERIE LETTERARIE NEGLI ISTITUTI DI ISTRUZIONE SECONDARIA DI SECONDO GRADO CON LINGUA INSEGNAMENTO SLOVENA)</ion-option>
                  	<ion-option value="A-75">A-75 - Discipline letterarie (84/A MATERIE LETTERARIE, LATINO E GRECO NEL LICEO CLASSICO CON LINGUA D'INSEGNAMENTO SLOVENA)</ion-option>
                  	<ion-option value="A-76">A-76 - Trattamento testi (86/A DATTILOGRAFIA, STENOGRAFIA, TRATTAMENTO TESTI E DATI CON LINGUA DI INSEGNAMENTO SLOVENO; 87/A TRATTAMENTO TESTI, CALCOLO, CONTABILITÀ ELETTRONICA ED APPLICAZIONI GESTIONALI CON LINGUA DI INSEGNAMENTO SLOVENO)</ion-option>
                  	<ion-option value="A-77">A-77 - Lingua e cultura ladina (90/A CULTURA LADINA)</ion-option>
                  	<ion-option value="A-78">A-78 - Italiano (seconda lingua) (91/A ITALIANO (SECONDA LINGUA) NELLA SCUOLA MEDIA IN LINGUA TEDESCA)</ion-option>
                  	<ion-option value="A-79">A-79 - Discipline letterarie (italiano seconda lingua) negli istituti di istruzione secondaria di II grado in lingua tedesca (92/A LINGUA E LETTERE ITALIANE (SECONDA LINGUA) NEGLI ISTITUTI DI ISTRUZIONE SECONDARIA DI SECONDO GRADO IN LINGUA TEDESCA)</ion-option>
                  	<ion-option value="A-80">A-80 - Discipline letterarie negli istituti di istruzione secondaria di II grado in lingua tedesca e con lingua di insegnamento tedesca delle località ladine (93/A MATERIE LETTERARIE NEGLI ISTITUTI DI ISTRUZIONE SECONDARIA DI SECONDO GRADO IN LINGUA TEDESCA E CON LINGUA DI INSEGNAMENTO TEDESCA DELLE LOCALITÀ LADINE)</ion-option>
                  	<ion-option value="A-81">A-81 - Discipline letterarie e latino nei licei in lingua tedesca e con lingua di insegnamento (94/A MATERIE LETTERARIE E LATINO NEI LICEI CON LINGUA DI INSEGNAMENTO TEDESCA DELLE LOCALITÀ LADINE)</ion-option>
                  	<ion-option value="A-82">A-82 - Discipline letterarie (95/A MATERIE LETTERARIE, LATINO E GRECO NEL LICEO CLASSICO IN LINGUA TEDESCA E CON LINGUA DI  INSEGNAMENTO TEDESCA DELLE LOCALITÀ LADINE)</ion-option>
                  	<ion-option value="A-83">A-83 - Discipline letterarie (tedesco seconda lingua) negli istituti di istruzione secondaria di II grado in lingua italiana della provincia di Bolzano (96/A TEDESCO (SECONDA LINGUA) NEGLI ISTITUTI SECONDARI DI SECONDO GRADO IN LINGUA ITALIANA DELLA PROVINCIA DI BOLZANO)</ion-option>
                  	<ion-option value="A-84">A-84 - Tedesco (seconda lingua) (97/A TEDESCO (SECONDA LINGUA NELLA SCUOLA MEDIA IN LINGUA ITALIANA NELLA PROVINCIA DI BOLZANO))</ion-option>
                  	<ion-option value="A-85">A-85 - Tedesco storia ed educazione civica (98/A TEDESCO, STORIA ED EDUCAZIONE CIVICA, GEOGRAFIA NELLA SCUOLA MEDIA IN LINGUA TEDESCA E CON LINGUA DI INSEGNAMENTO TEDESCA DELLE LOCALITÀ LADINE)</ion-option>
                  	<ion-option value="A-86">A-86 - Trattamento testi (99/A DATTILOGRAFIA, STENOGRAFIA, TRATTAMENTO TESTI E DATI IN LINGUA TEDESCA E CON LINGUA D'INSEGNAMENTO TEDESCA DELLE LOCALITÀ LADINE; 100/A TRATTAMENTO TESTI, EX 100/A CALCOLO, CONTABILITÀ ELETTRONICA ED APPLICAZIONI GESTIONALI IN LINGUA TEDESCA E CON LI)</ion-option>
                  	<ion-option value="AA24">AA24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (FRANCESE) (A246)</ion-option>
                  	<ion-option value="AA25">AA25 - Lingua inglese e seconda lingua comunitaria nella scuola secondaria di primo grado (FRANCESE) (A245)</ion-option>
                  	<ion-option value="AAAA">AAAA - Scuola dell'Infanzia</ion-option>
                  	<ion-option value="AAHH">AAHH - Sostegno scuola dell'Infanzia</ion-option>
                  	<ion-option value="AB24">AB24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (INGLESE) (A346)</ion-option>
                  	<ion-option value="AB25">AB25 - Lingua inglese e seconda lingua comunitaria nella scuola secondaria di primo grado (INGLESE) (A345)</ion-option>
                  	<ion-option value="AC24">AC24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (SPAGNOLO) (A446)</ion-option>
                  	<ion-option value="AC25">AC25 - Lingua inglese e seconda lingua comunitaria nella scuola secondaria di primo grado (SPAGNOLO) (A445)</ion-option>
                  	<ion-option value="AD24">AD24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (TEDESCO) (A546)</ion-option>
                  	<ion-option value="AD25">AD25 - Lingua inglese e seconda lingua comunitaria nella scuola secondaria di primo grado (TEDESCO) (A545)</ion-option>
                  	<ion-option value="AE24">AE24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (RUSSO) (A646)</ion-option>
                  	<ion-option value="AF24">AF24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (ALBANESE) (A746)</ion-option>
                  	<ion-option value="AG24">AG24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (SLOVENO) (A846)</ion-option>
                  	<ion-option value="AH24">AH24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (SERBO-CROATO) (A946)</ion-option>
                  	<ion-option value="AI24">AI24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (CINESE) (AA46)</ion-option>
                  	<ion-option value="AJ24">AJ24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (GIAPPONESE) (AB46)</ion-option>
                  	<ion-option value="AK24">AK24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (EBRAICO) (AC46)</ion-option>
                  	<ion-option value="AL24">AL24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (ARABO) (AD46)</ion-option>
                  	<ion-option value="AM24">AM24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (NEO-GRECO) (AE46)</ion-option>
                  	<ion-option value="AN24">AN24 - Lingue e culture straniere negli istituti di istruzione secondaria di II grado (PORTOGHESE) (AF46)</ion-option>
                  	<ion-option value="B-01">B-01 - Attività pratiche speciali (2/C ATTIVITÀ PRATICHE SPECIALI)</ion-option>
                  	<ion-option value="B-02">B-02 - Conversazione in lingua straniera (3/C CONVERSAZIONE IN LINGUA STRANIERA)</ion-option>
                  	<ion-option value="B-03">B-03 - Laboratorio di Fisica (28/C LABORATORIO DI FISICA ATOMICA E NUCLEARE E STRUMENTAZIONE; 29/C LABORATORIO DI FISICA E FISICA APPLICATA)</ion-option>
                  	<ion-option value="B-04">B-04 - Laboratori di liuteria (25/C LABORATORIO DI COSTRUZIONE, VERNICIATURA E RESTAURO DI STRUMENTI AD ARCO)</ion-option>
                  	<ion-option value="B-05">B-05 - Laboratorio di logistica</ion-option>
                  	<ion-option value="B-06">B-06 - Laboratorio di odontotecnica (13/C ESERCITAZIONI DI ODONTOTECNICA)</ion-option>
                  	<ion-option value="B-07">B-07 - Laboratorio di ottica (20/C ESERCITAZIONI PRATICHE DI OTTICA)</ion-option>
                  	<ion-option value="B-08">B-08 - Laboratori di produzioni industriali ed artigianali della ceramica (6/C ESERCITAZIONI CERAMICHE DI DECORAZIONE; 12/C ESERCITAZIONI DI MODELLISMO, FORMATURA E PLASTICA, FOGGIATURA E RIFINITURA; 16/C ESERCITAZIONI DI TECNOLOGIA CERAMICA; 34/C LABORATORIO DI PROGETTAZIONE TECNICA PER LA CERAMICA; 40/C LABORATORIO PER LE INDU)</ion-option>
                  	<ion-option value="B-09">B-09 - Laboratori di scienze e tecnologie Aeronautiche (4/C ESERCITAZIONI AERONAUTICHE; 8/C ESERCITAZIONI DI CIRCOLAZIONE AEREA)</ion-option>
                  	<ion-option value="B-10">B-10 - Laboratori di scienze e tecnologie costruzioni aeronautiche (23/C LABORATORIO DI AEROTECNICA, COSTRUZIONI E TECNOLOGIE AERONAUTICHE)</ion-option>
                  	<ion-option value="B-11">B-11 - Laboratori di scienze e tecnologie agrarie (5/C ESERCITAZIONI AGRARIE)</ion-option>
                  	<ion-option value="B-12">B-12 - Laboratori di scienze e tecnologie chimiche e microbiologiche (24/C LABORATORIO DI CHIMICA E CHIMICA INDUSTRIALE; 35/C LABORATORIO DI TECNICA MICROBIOLOGICA; 36/C LABORATORIO DI TECNOLOGIA CARTARIA ED ESERCITAZIONI DI CARTIERA)</ion-option>
                  	<ion-option value="B-13">B-13 - Laboratori di scienze e tecnologie della calzatura e della moda</ion-option>
                  	<ion-option value="B-14">B-14 - Laboratori di scienze e tecnologie delle costruzioni (39/C LABORATORIO E REPARTI DI LAVORAZIONE PER L'INDUSTRIA MINERARIA; 43/C LABORATORIO TECNOLOGICO PER L'EDILIZIA ED ESERCITAZIONI DI TOPOGRAFIA)</ion-option>
                  	<ion-option value="B-15">B-15 - Laboratori di scienze e tecnologie elettriche ed elettroniche (26/C LABORATORIO DI ELETTRONICA; 27/C LABORATORIO DI ELETTROTECNICA)</ion-option>
                  	<ion-option value="B-16">B-16 - Laboratori di scienze e tecnologie informatiche (30/C LABORATORIO DI INFORMATICA GESTIONALE; 31/C LABORATORIO DI INFORMATICA INDUSTRIALE)</ion-option>
                  	<ion-option value="B-17">B-17 - Laboratori di scienze e tecnologie meccaniche (14/C ESERCITAZIONI DI OFFICINA MECCANICA AGRICOLA E DI MACCHINE AGRICOLE; 32/C LABORATORIO MECCANICO-TECNOLOGICO)</ion-option>
                  	<ion-option value="B-18">B-18 - Laboratori di scienze e tecnologie tessili (7/C ESERCITAZIONI DI ABBIGLIAMENTO E MODA; 10/C ESERCITAZIONI DI DISEGNO ARTISTICO DI TESSUTI; 22/C LABORATORI DI TECNOLOGIE TESSILI E DELL'ABBIGLIAMENTO E REPARTI DI LAVORAZIONI TESSILI E DELL'ABBIGLIAMENTO)</ion-option>
                  	<ion-option value="B-19">B-19 - Laboratori di servizi di ricettività alberghiera (15/C ESERCITAZIONI DI PORTINERIA E PRATICA DI AGENZIA; 52/C TECNICA DEI SERVIZI E PRATICA OPERATIVA)</ion-option>
                  	<ion-option value="B-20">B-20 - Laboratori di servizi enogastronomici (50/C TECNICA DEI SERVIZI ED ESERCITAZIONI PRATICHE DI CUCINA)</ion-option>
                  	<ion-option value="B-21">B-21 - Laboratori di servizi enogastronomici (51/C TECNICA DEI SERVIZI ED ESERCITAZIONI PRATICHE DI SALA E DI BAR)</ion-option>
                  	<ion-option value="B-22">B-22 - Laboratori di tecnologie e tecniche delle comunicazioni multimediali (38/C LABORATORIO DI REPARTI DI LAVORAZIONE PER LE ARTI GRAFICHE; 46/C REPARTI DI LAVORAZIONE PER IL MONTAGGIO CINEMATOGRAFICO E TELEVISIVO; 47/C REPARTI DI LAVORAZIONE PER LA REGISTRAZIONE DEL SUONO; 48/C REPARTI DI LAVORAZIONE PER LA RIPRESA CINEMATOGRAF)</ion-option>
                  	<ion-option value="B-23">B-23 - Laboratori per i servizi socio-sanitari (11/C ESERCITAZIONI DI ECONOMIA DOMESTICA; 45/C METODOLOGIE OPERATIVE NEI SERVIZI SOCIALI)</ion-option>
                  	<ion-option value="B-24">B-24 - Laboratorio di scienze e tecnologie nautiche (9/C ESERCITAZIONI DI COMUNICAZIONI; 18/C ESERCITAZIONI NAUTICHE)</ion-option>
                  	<ion-option value="B-25">B-25 - Laboratorio di scienze e tecnologie delle costruzioni navali (17/C ESERCITAZIONI DI TEORIA DELLA NAVE E DI COSTRUZIONI NAVALI)</ion-option>
                  	<ion-option value="B-26">B-26 - Laboratorio di tecnologie del legno (37/C LABORATORIO E REPARTI DI LAVORAZIONE DEL LEGNO)</ion-option>
                  	<ion-option value="B-27">B-27 - Laboratorio di tecnologie del marmo (41/C LABORATORIO TECNOLOGICO DEL MARMO, REPARTI ARCHITETTURA, MACCHINE; 42/C LABORATORIO TECNOLOGICO PER IL MARMO, REPARTI SCULTURA, SMODELLATURA, DECORAZIONE E ORNATO)</ion-option>
                  	<ion-option value="B-28">B-28 - Laboratorio di tecnologie orafe (33/C LABORATORIO DI OREFICERIA)</ion-option>
                  	<ion-option value="B-29">B-29 - Gabinetto fisioterapico (Classe di concorso ad esaurimento) (21/C GABINETTO FISIOTERAPICO; 44/C MASSOCHINESITERAPIA)</ion-option>
                  	<ion-option value="B-30">B-30 - Addetto all'ufficio tecnico (Classe di concorso ad esaurimento) (1/C ADDETTO ALL'UFFICIO TECNICO)</ion-option>
                  	<ion-option value="B-31">B-31 - Esercitazioni pratiche per centralinisti telefonici  (Classe di concorso ad esaurimento) (19/C ESERCITAZIONI PRATICHE PER CENTRALINISTI TELEFONICI)</ion-option>
                  	<ion-option value="B-32">B-32 - Esercitazioni di pratica professionale  (Classe di concorso ad esaurimento) (555/C ESERCITAZIONI DI PRATICA PROFESSIONALE)</ion-option>
                  	<ion-option value="B-33">B-33 - Assistente di Laboratorio (Classe di concorso ad esaurimento) (999/C ASSISTENTE DI LABORATORIO)</ion-option>
                  	<ion-option value="BA02">BA02 - Conversazione in lingua straniera (FRANCESE) (C031)</ion-option>
                  	<ion-option value="BB02">BB02 - Conversazione in lingua straniera (INGLESE) (C032)</ion-option>
                  	<ion-option value="BC02">BC02 - Conversazione in lingua straniera (SPAGNOLO) (C033)</ion-option>
                  	<ion-option value="BD02">BD02 - Conversazione in lingua straniera (TEDESCO) (C034)</ion-option>
                  	<ion-option value="BE02">BE02 - Conversazione in lingua straniera (RUSSO) (C035)</ion-option>
                  	<ion-option value="BF02">BF02 - Conversazione in lingua straniera (ALBANESE) (C036)</ion-option>
                  	<ion-option value="BG02">BG02 - Conversazione in lingua straniera (SLOVENO) (C037)</ion-option>
                  	<ion-option value="BH02">BH02 - Conversazione in lingua straniera (SERBO-CROATO) (C038)</ion-option>
                  	<ion-option value="BI02">BI02 - Conversazione in lingua straniera (CINESE) (C03A)</ion-option>
                  	<ion-option value="BJ02">BJ02 - Conversazione in lingua straniera (GIAPPONESE) (C03B)</ion-option>
                  	<ion-option value="BK02">BK02 - Conversazione in lingua straniera (EBRAICO) (C03C)</ion-option>
                  	<ion-option value="BL02">BL02 - Conversazione in lingua straniera (ARABO) (C03D)</ion-option>
                  	<ion-option value="BM02">BM02 - Conversazione in lingua straniera (NEO-GRECO) (C03E)</ion-option>
                  	<ion-option value="BN02">BN02 - Conversazione in lingua straniera (PORTOGHESE) (C03F)</ion-option>
                  	<ion-option value="EEEE">EEEE - Scuola Primaria</ion-option>
                  	<ion-option value="EEHH ">EEHH  - Sostegno scuola Primaria</ion-option>
                  	<ion-option value="PPPP">PPPP - Personale educativo (PPPP)</ion-option>
                  	<ion-option value="RR05">RR05 - Religione Infanzia e Primaria (RR05 - RELIGIONE INFANZIA E PRIMARIA)</ion-option>
                  	<ion-option value="Sos IGr">Sos IGr - Sostegno I Grado</ion-option>
                  	<ion-option value="Sos IIGr">Sos IIGr - Sostegno II Grado</ion-option>
                </ion-select>
              </ion-item>
              <br />
              <ion-item>
              <ion-label>Sedi Anief e Comunicazioni</ion-label>
              <ion-select [(ngModel)]="provincia-anief">
                <ion-option value="" selected="selected">- Seleziona una provincia</ion-option>
                	<ion-option value="AG">Agrigento - AG</ion-option>
                	<ion-option value="AL">Alessandria - AL</ion-option>
                	<ion-option value="AN">Ancona - AN</ion-option>
                	<ion-option value="AR">Arezzo - AR</ion-option>
                	<ion-option value="AP">Ascoli Piceno - AP</ion-option>
                	<ion-option value="AT">Asti - AT</ion-option>
                	<ion-option value="AV">Avellino - AV</ion-option>
                	<ion-option value="BA">Bari - BA</ion-option>
                	<ion-option value="BT">Barletta - Andria - Trani - BT</ion-option>
                	<ion-option value="BL">Belluno - BL</ion-option>
                	<ion-option value="BN">Benevento - BN</ion-option>
                	<ion-option value="BG">Bergamo - BG</ion-option>
                	<ion-option value="BI">Biella - BI</ion-option>
                	<ion-option value="BO">Bologna - BO</ion-option>
                	<ion-option value="BZ">Bolzano - BZ</ion-option>
                	<ion-option value="BS">Brescia - BS</ion-option>
                	<ion-option value="BR">Brindisi - BR</ion-option>
                	<ion-option value="CA">Cagliari - CA</ion-option>
                	<ion-option value="CL">Caltanissetta - CL</ion-option>
                	<ion-option value="CB">Campobasso - CB</ion-option>
                	<ion-option value="CI">Carbonia-Iglesias - CI</ion-option>
                	<ion-option value="CE">Caserta - CE</ion-option>
                	<ion-option value="CT">Catania - CT</ion-option>
                	<ion-option value="CZ">Catanzaro - CZ</ion-option>
                	<ion-option value="CH">Chieti - CH</ion-option>
                	<ion-option value="CO">Como - CO</ion-option>
                	<ion-option value="CS">Cosenza - CS</ion-option>
                	<ion-option value="CR">Cremona - CR</ion-option>
                	<ion-option value="KR">Crotone - KR</ion-option>
                	<ion-option value="CN">Cuneo - CN</ion-option>
                	<ion-option value="EE">EE - Stato Estero - EE</ion-option>
                	<ion-option value="EN">Enna - EN</ion-option>
                	<ion-option value="FM">Fermo - FM</ion-option>
                	<ion-option value="FE">Ferrara - FE</ion-option>
                	<ion-option value="FI">Firenze - FI</ion-option>
                	<ion-option value="FG">Foggia - FG</ion-option>
                	<ion-option value="FC">Forlì-Cesena - FC</ion-option>
                	<ion-option value="FR">Frosinone - FR</ion-option>
                	<ion-option value="GE">Genova - GE</ion-option>
                	<ion-option value="GO">Gorizia - GO</ion-option>
                	<ion-option value="GR">Grosseto - GR</ion-option>
                	<ion-option value="IM">Imperia - IM</ion-option>
                	<ion-option value="IS">Isernia - IS</ion-option>
                	<ion-option value="AQ">L'Aquila - AQ</ion-option>
                	<ion-option value="SP">La Spezia - SP</ion-option>
                	<ion-option value="LT">Latina - LT</ion-option>
                	<ion-option value="LE">Lecce - LE</ion-option>
                	<ion-option value="LC">Lecco - LC</ion-option>
                	<ion-option value="LI">Livorno - LI</ion-option>
                	<ion-option value="LO">Lodi - LO</ion-option>
                	<ion-option value="LU">Lucca - LU</ion-option>
                	<ion-option value="MC">Macerata - MC</ion-option>
                	<ion-option value="MN">Mantova - MN</ion-option>
                	<ion-option value="MS">Massa-Carrara - MS</ion-option>
                	<ion-option value="MT">Matera - MT</ion-option>
                	<ion-option value="VS">Medio Campidano - VS</ion-option>
                	<ion-option value="ME">Messina - ME</ion-option>
                	<ion-option value="MI">Milano - MI</ion-option>
                	<ion-option value="MO">Modena - MO</ion-option>
                	<ion-option value="MB">Monza-Brianza - MB</ion-option>
                	<ion-option value="NA">Napoli - NA</ion-option>
                	<ion-option value="NO">Novara - NO</ion-option>
                	<ion-option value="NU">Nuoro - NU</ion-option>
                	<ion-option value="OG">Ogliastra - OG</ion-option>
                	<ion-option value="OT">Olbia-Tempio - OT</ion-option>
                	<ion-option value="OR">Oristano - OR</ion-option>
                	<ion-option value="PD">Padova - PD</ion-option>
                	<ion-option value="PA">Palermo - PA</ion-option>
                	<ion-option value="PR">Parma - PR</ion-option>
                	<ion-option value="PV">Pavia - PV</ion-option>
                	<ion-option value="PG">Perugia - PG</ion-option>
                	<ion-option value="PU">Pesaro e Urbino - PU</ion-option>
                	<ion-option value="PE">Pescara - PE</ion-option>
                	<ion-option value="PC">Piacenza - PC</ion-option>
                	<ion-option value="PI">Pisa - PI</ion-option>
                	<ion-option value="PT">Pistoia - PT</ion-option>
                	<ion-option value="PN">Pordenone - PN</ion-option>
                	<ion-option value="PZ">Potenza - PZ</ion-option>
                	<ion-option value="PO">Prato - PO</ion-option>
                	<ion-option value="RG">Ragusa - RG</ion-option>
                	<ion-option value="RA">Ravenna - RA</ion-option>
                	<ion-option value="RC">Reggio Calabria - RC</ion-option>
                	<ion-option value="RE">Reggio Emilia - RE</ion-option>
                	<ion-option value="RI">Rieti - RI</ion-option>
                	<ion-option value="RN">Rimini - RN</ion-option>
                	<ion-option value="RM">Roma - RM</ion-option>
                	<ion-option value="RO">Rovigo - RO</ion-option>
                	<ion-option value="SA">Salerno - SA</ion-option>
                	<ion-option value="SS">Sassari - SS</ion-option>
                	<ion-option value="SV">Savona - SV</ion-option>
                	<ion-option value="SI">Siena - SI</ion-option>
                	<ion-option value="SR">Siracusa - SR</ion-option>
                	<ion-option value="SO">Sondrio - SO</ion-option>
                	<ion-option value="TA">Taranto - TA</ion-option>
                	<ion-option value="TE">Teramo - TE</ion-option>
                	<ion-option value="TR">Terni - TR</ion-option>
                	<ion-option value="TO">Torino - TO</ion-option>
                	<ion-option value="TP">Trapani - TP</ion-option>
                	<ion-option value="TN">Trento - TN</ion-option>
                	<ion-option value="TV">Treviso - TV</ion-option>
                	<ion-option value="TS">Trieste - TS</ion-option>
                	<ion-option value="UD">Udine - UD</ion-option>
                	<ion-option value="AO">Valle d'Aosta - AO</ion-option>
                	<ion-option value="VA">Varese - VA</ion-option>
                	<ion-option value="VE">Venezia - VE</ion-option>
                	<ion-option value="VB">Verbano-Cusio-Ossola - VB</ion-option>
                	<ion-option value="VC">Vercelli - VC</ion-option>
                	<ion-option value="VR">Verona - VR</ion-option>
                	<ion-option value="VV">Vibo Valentia - VV</ion-option>
                	<ion-option value="VI">Vicenza - VI</ion-option>
                	<ion-option value="VT">Viterbo - VT</ion-option>
              </ion-select>
              </ion-item>
        </ion-list>
  <div padding>
    <button ion-button color="primary" full (click)="registrati()">Registrati</button>
  </div>
  <div padding>
    <button ion-button color="secondary" full (click)="tornaLogin()">Già Registrato? Fai il login</button>
  </div>

</ion-content>
