<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>SEDI NAZIONALI</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-wrap padding>

<ion-item><h2 style="font-weight:600;">Seleziona la tua regione</h2></ion-item>


<ion-item class="regione" *ngFor="let item of arrayNews | groupBy1:'regione'" (click)="goToPaginaProvincia(item)">
     {{item.key}}
  <ion-icon name="arrow-dropright" item-end></ion-icon>
  </ion-item>


</ion-content>
