<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Notifiche</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content text-wrap padding>
  <ion-item class="test-item" style="margin:10px 0" *ngFor="let item of data">
    <ion-row >
    <ion-col col-12 style="display: flex; align-items: center; justify-content: space-between;">

      <h3 (click)="gotosingolanotifica(item)"><b>
        {{item.subject}}
      </b><br />
    <span>{{item.created}}</span></h3>

    </ion-col>
    </ion-row>
  </ion-item>
  </ion-content>
