page-singolanotifica {

  .img-block{
    width: 125px;
  }
 .contatti-item{
   min-height: 160px;
 }

 .col-content{

 // border: outset 2px #e7541c;
 /* min-height: 160px; */
 background-color: #dd0916;
 color: #fff;
 // border-radius: 5%;
 padding: 10px;
 // -webkit-box-shadow: 10px 3px 0 0 #0000002e;
 // box-shadow: 10px 3px 0 0 #0000002e;
 margin:10px auto;
}
h6{
  text-align:center;
  margin:auto;
}

}
