<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Notifiche</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content text-wrap padding>
  <ion-item class="test-item" style="margin:10px 0">
  <p  [innerHTML]="v.message">
    {{v.message}}
    </p>
  </ion-item>
  </ion-content>
