<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Contenzioso</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-wrap padding>
  <ion-item class="test-item" style="margin:10px 0" *ngFor="let item of data">
    <ion-row >

    <ion-col col-12><h3><b>{{item.titolo_ricorso}}</b></h3></ion-col>

    <ion-col col-6><b>LEGALE:</b></ion-col>
    <ion-col col-6>{{item.legale}}</ion-col>

    <ion-col col-6><b>TRIBUNALE:</b></ion-col>
    <ion-col col-6>{{item.tribunale}}</ion-col>

    <ion-col col-6><b>STATO:</b></ion-col>
    <ion-col col-6><p [innerHTML]="item.stato_txt">

      </p></ion-col>

    <ion-col col-6><b>Data Abbandono:</b></ion-col>
    <!-- <ion-col col-6> <p [innerHTML]="{{item.data_abbandono}}">  {{item.data_abbandono}}
      </p>
    </ion-col> -->





</ion-row>
</ion-item>


</ion-content>
