<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>ULTIME NOTIZIE</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoLoginpage()">
        <ion-icon name="lock"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
		<ion-item *ngFor="let item of arrayNews" text-wrap style="margin:10px 0 10px 0;"   >
			<h2 style="font-weight:600;">{{item.title}}</h2>
			<p>
				{{item.data}}
			</p>
      <button ion-button (click)="goTosingolaNews(item)" style="float:left">
        Leggi           <ion-icon name="open" style="margin-left:6px;" ></ion-icon>
        </button>
	</ion-item>
	</ion-list>
  </ion-content>
