<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>CONTATTI</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-wrap>
  <ion-item class="contatti-item" (click)="gotoSegreteriaNazionale()">
    <ion-thumbnail item-left>
      <img src="./assets/imgs/segreterianazionale.png">
    </ion-thumbnail>
    <ion-label>CONTATTI <br />SEGRETERIA NAZIONALE</ion-label>
  </ion-item>

  <ion-item class="contatti-item" (click)="gotoAmministrazione()">
    <ion-thumbnail item-left>
      <img src="./assets/imgs/contattipa.png">
    </ion-thumbnail>
    <ion-label>CONTATTI <br />PER LA PUBBLICA AMMINISTRAZIONE</ion-label>
  </ion-item>

  <ion-item class="contatti-item" (click)="goToSedinazionali()">
    <ion-thumbnail item-left>
      <img src="./assets/imgs/mappa_sedi_regionali.png">
    </ion-thumbnail>
    <ion-label>SEDI NAZIONALI </ion-label>
  </ion-item>

</ion-content>
