<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>RICORSI</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let v of item.value" text-wrap (click)="goToPaginaSingoloRicorso(v)">
{{v.title}}
    <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>



</ion-content>
