<ion-menu class="menu-content" [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary" >
    <style>
   ion-content{
    background:#dd0916!important;
    }
</style>


      <img src="./assets/imgs/logo.png" class="logo-img"/>

    <ion-list>
    <button color="primary" menuClose ion-item icon-left (click)="nav.setRoot(pages2.welcomePage)">
    <ion-icon name="home"></ion-icon>
    HOME
  </button>
  <button  color="primary" menuClose ion-item icon-left (click)="nav.setRoot(pages2.homePage)">
    <ion-icon name="paper"></ion-icon>
    NEWS
  </button>
  <button  color="primary" menuClose ion-item icon-left (click)="nav.setRoot(pages2.contattiPage)">
    <ion-icon name="mail"></ion-icon>
    CONTATTI
  </button>
  <!-- <button  color="primary" menuClose ion-item icon-left (click)="nav.setRoot(pages2.loginPage)">
    <ion-icon name="people"></ion-icon>
    AREA PERSONALE
  </button> -->
  <ion-item text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" style="margin: 0;padding-right: 0px; background:#dd0916!important;">
            <ion-row style="background:#dd0916!important; color:#fff">
              <ion-col col-11 style="line-height: 2;font-size: 16px;"><ion-icon name="people"></ion-icon><span style="margin-left:0.5em;">AREA PERSONALE</span></ion-col>
              <ion-col col-1 *ngIf="sublevel" style="line-height: 2.5;"><ion-icon color="secondary" style="margin-top: 0px;font-size: 2rem;" item-right [name]="isGroupShown(i) ? 'ios-arrow-down-outline' : 'ios-arrow-forward'"></ion-icon></ion-col>
            </ion-row>
            <ion-row *ngIf="isGroupShown(i)">
              <ion-list style="width: 100%;">
                <button style="color: #fff;background:#dd0916!important;" menuClose ion-item *ngFor="let p of submenus" (click)="openPage(p)">
                  {{p.title}}
                </button>
              </ion-list>
            </ion-row>
          </ion-item>
  <button  color="primary" menuClose ion-item icon-left (click)="nav.setRoot(pages2.ricorsiPage)">
    <ion-icon name="hammer"></ion-icon>
    RICORSI
  </button>
  </ion-list>
  <ion-row>
    <ion-col text-center>
    <p>
      <a style="color:#fff!important" href="https://www.anief.org/index.php?option=com_content&view=article&id=12427:informativa-estesa-sull-utilizzo-dei-cookies&catid=318&Itemid=1019">Cookie Policy</a> - <a style="color:#fff!important" href="https://www.anief.org/index.php?option=com_content&view=article&id=12524:privacy&catid=114&Itemid=1019">Privacy Policy</a>
      </p>
      <p>
        <a style="color:#fff!important" href="https://www.facebook.com/ANIEF.it/" alt="facebook-page"><ion-icon name="logo-facebook"></ion-icon></a>
      </p>
    </ion-col>
  </ion-row>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
