@font-face {
font-family: MyFont;
src: url("../assets/font/Montserrat/Montserrat-Regular.ttf");
}


body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
font-family: MyFont;
}

$dark : #fff;
$positive: #BBDEFB;
$SIDEMENU_TOP: #fff;
$SIDEMENU_BOTTOM: #0b49b5;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);
$ionicons-font-path: "../lib/ionic/fonts" !default;
$back: #0b1150;
.side-menu-item {
	background: none;
	color: white;
	font-weight: 300;
	border: 0px;
	.item-content {
		background: none;
		&.activated {
			background: $SIDEMENU_TRANSPARENCY;
		}

	}
}




ion-content {
    background-image: url('/assets/imgs/bg-img.jpg')!important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
ion-item{
background-color: #fffc!important;
}

.sc-ion-back-button-ios-h {
  color: #fff!important;
}

.menu-content{
  background-color: var(--ion-color-primary);
  color: #fff;
}

.logo-img{
		display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 60%;
}


.toolbar-background{
  background-color: #dd0715;
  color: #fff;
}

.toolbar[primary] .toolbar-title, .toolbar[primary] .bar-button-default {
  color: #fff;
}

ion-title{
  color: #fff!important;
}

.icon-md-secondary {
  color: #ffffff;
}
.icon-ios-secondary {
  color: #ffffff;
}

.back-button-md {
  margin: 0 6px;
  min-width: 44px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff!important;
}

.back-button-ios {
  margin: 0 6px;
  min-width: 44px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff!important;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
