<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>RICORSI</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding text-wrap>
  <ion-row>

  <ion-item *ngFor="let item of (arrayNews  | sort:'cat_title' ) | groupBy1:'cat_title'" style="margin-bottom:10px;" (click)="goToPaginaCategoriaRicorsi(item)">
       {{item.key}}
    <ion-icon name="arrow-dropright" item-end></ion-icon>
  </ion-item>
</ion-row>


</ion-content>
