<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>SEDI NAZIONALI </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap padding>
  <ion-row *ngFor="let x of v.value">
   <ion-item>
  <h1>{{x.nome_sede}}</h1>
  <p>{{x.descrizione}}</p>
          <ul >
            <li class="item item-icon-left">
              <ion-icon name="mail"></ion-icon>{{x.email_sede}}
            </li>
            <li class="item item-icon-left">
              <ion-icon name="pin"></ion-icon>{{x.indirizzo}}
            </li>
            <li class="item item-icon-left">
              <ion-icon name="call"></ion-icon>  {{x.telefono_sede}}
            </li>
          </ul>
    </ion-item>
  </ion-row>
</ion-content>
