page-sedesingola {
.item > ion-icon{
  font-size: 2rem;
}

h2{
  font-weight: 500!important;
}

.row{
  margin-bottom: 1em;

}
ion-item{
  background-color:#f2f2f2;
}
ul li{
  margin:0px;
  padding:0px;
  list-style-type: none;
}

ul{
  padding:0px;
}

}
