<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>ANIEF</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoLoginpage()">
        <ion-icon name="lock"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding text-center class="getstart">
  <button class="btn-right" ion-button  (click)="add_to_home(event)" *ngIf="showBtn" style="float:right" >Installa questa app nel tuo smartphone</button>


  <ion-grid padding>
  <ion-row>
    <ion-col  col-6>
      <div class="col-content"  (click)="gotoHomePage()">
        <ion-icon style="font-size:3em; margin-top:10px;" name="paper"></ion-icon>
      <h6 style="font-size:12px;">NEWS</h6>
      </div>
    </ion-col>
    <ion-col  col-6>
      <div class="col-content" (click)="gotoContattiPage()">
        <ion-icon style="font-size:3em; margin-top:10px;" name="mail"></ion-icon>
        <h6 style="font-size:12px;">CONTATTI</h6>
      </div>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col  col-6>
      <div class="col-content" (click)="gotoLoginpage()">
        <ion-icon style="font-size:3em; margin-top:10px;" name="people"></ion-icon>
      <h6 style="font-size:12px;">AREA PERSONALE</h6>
      </div>
    </ion-col>
    <ion-col  col-6>
      <div class="col-content" (click)="gotoRicorsiPage()">
        <ion-icon style="font-size:3em; margin-top:10px;" name="hammer"></ion-icon>
      <h6 style="font-size:12px;">RICORSI</h6>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>








</ion-content>
