page-welcome {


  .col-content{
    width: 120px;
  height: 120px;
  // border: outset 2px #e7541c;
  /* min-height: 160px; */
  background-color: #dd0916;
  color: #fff;
  border-radius: 5%;
  padding: 10px;
  // -webkit-box-shadow: 10px 3px 0 0 #0000002e;
  // box-shadow: 10px 3px 0 0 #0000002e;
}




.getstart {

background-image: url('../../assets/imgs/bg-img-logo.jpg')!important;
// background: url('../../imgs/bg-img-logo.jpg');
background-repeat: no-repeat;
background-size:cover;
}

}
