<ion-header>
  <ion-navbar>
    <ion-title>CONTATTI</ion-title>
  </ion-navbar>
</ion-header>

<ion-content justify-content-center padding text-wrap>
  <ion-row>
    <ion-item class="bordo-item">
    <h1>Contatti per la Pubblica Amministrazione</h1>
    <br />
    <ion-col>

        <p text-wrap>
        <ion-icon name="call" item-start color="primary"></ion-icon> <a href="tel:+390917098351">Tel. +39 0917098351</a>
        <br />
        <ion-icon name="mail" item-start color="primary"></ion-icon><a href="mailto:ASSOCIAZIONE@ANIEF.NET">ASSOCIAZIONE@ANIEF.NET</a>
        <br />
        <ion-icon name="mail" item-start color="primary"></ion-icon><a href="mailto:ASSOCIAZIONE@PEC.ANIEF.NET">ASSOCIAZIONE@PEC.ANIEF.NET</a>
        </p>

      </ion-col>
    </ion-item>
    </ion-row>



</ion-content>
