<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>SEDI NAZIONALI </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap padding>
  <ion-item class="provincia"><h3>Seleziona la tua provincia</h3></ion-item>


  <ion-item class="provincia" *ngFor="let v of item.value | groupBy1:'provincia'" (click)="goToPaginaSingola(v)">
{{v.key}}
    <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
</ion-content>
