<ion-header>
  <ion-navbar>
    <ion-title>CONTATTI</ion-title>
  </ion-navbar>
</ion-header>

<ion-content justify-content-center padding>
  <ion-item><h2 style="text-transform:uppercase; font-weight:600;">Contatti Segreteria Nazionale</h2></ion-item>

<br />
  <!-- Settore Amministrativo -->
  <ion-col>
    <ion-item class="bordo-item">
      <h2><b>SETTORE AMMINISTRATIVO</b></h2>
    <p text-wrap>
      <ion-icon name="call" item-start color="primary"></ion-icon><a href="tel:+390917098354">Tel. +39 091 7098354</a>
      <br />
      <ion-icon name="clipboard" item-start color="primary"></ion-icon>Fax +39 091 6701396
      <br />
      <ion-icon name="mail" item-start color="primary"></ion-icon><a href="mailto:amministrazione@anief.net">amministrazione@anief.net</a>
      </p>
    </ion-item>
    </ion-col>
<!-- Fine Amministrativo -->
<!-- SETTORE CONSULENZE -->
  <ion-col>
    <ion-item class="bordo-item">
      <h2><b>SETTORE CONSULENZE</b></h2>
    <p text-wrap>
      <ion-icon name="call" item-start color="primary"></ion-icon><a href="tel:+390917098355">Tel. +39 091 7098355</a>
      <br />
      <ion-icon name="clipboard" item-start color="primary"></ion-icon>Fax +39 091 6455845
      <br />
      <ion-icon name="mail" item-start color="primary"></ion-icon><a href="mailto:segreteria@anief.net">segreteria@anief.net</a>
      </p>
    </ion-item>
  </ion-col>
    <!-- Fine Settore Consulenze -->
    <!--Settore Contenzionso -->
    <ion-col>
      <ion-item class="bordo-item">
        <h2><b>SETTORE CONTENZIOSO</b></h2>
      <p text-wrap>
        <ion-icon name="call" item-start color="primary"></ion-icon><a href="tel:+390917098359">Tel. +39 091 7098359</a>
        <br />
        <ion-icon name="clipboard" item-start color="primary"></ion-icon>Fax +39 091 6455845
      </p>
      </ion-item>
    </ion-col>
    <!-- Fine Settore Contenzioso -->

    <!-- sETTORE FORMAZIONE -->
    <ion-col>
      <ion-item class="bordo-item">
        <h2><b>SETTORE FORMAZIONE</b></h2>
      <p text-wrap>
        <ion-icon name="call" item-start color="primary"></ion-icon><a href="tel:+390917098359">Tel. +39 091 7098359</a>
        <br />
        <ion-icon name="clipboard" item-start color="primary"></ion-icon>Fax +39 091 6455845
      </p>
      </ion-item>
    </ion-col>
    <!-- fINE SETTORE FORMAZIONE-->
</ion-content>
