page-preadesioni {

  .test-item {
   background-color: #eeeeee;
 }
 ion-content{
   background: white!important;
 }
 ion-item{
   background-color: #eee!important;
   background-image: none!important;
 }
 .space{
   min-height: 20px;
 }

}
