<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Preadesioni</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-wrap padding>
  <ion-item class="test-item" style="margin:10px 0" *ngFor="let item of data">
    <ion-row >
    <ion-col col-9 style="display: flex; align-items: center; justify-content: space-between;"> <h3><b>{{item.nome_ricorso}}</b><br /></h3>

    </ion-col>
    <ion-col col-3>
      <button ion-button slot="end" icon-only (click)="confirmdelete(item)" value="{{item.id_ricorso}}">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-col>
    </ion-row>
  </ion-item>
  <!-- <form (ngSubmit)="removepreadesioni()" #removepreadesioniForm="ngForm">


      <ion-input type="hidden" name="idricorso" value="{{item.id_ricorso}}" [(ngModel)]="requestData.idricorso" required></ion-input>


  </form> -->





</ion-content>
