<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content text-wrap>

  <ion-grid padding>
  <ion-row>
    <ion-col  col-12>
      <div class="col-content"  (click)="gotoPreades()">
      <h6>Preadesioni Inviate</h6>
      </div>
    </ion-col>
    <ion-col  col-12>
      <div class="col-content" (click)="gotoPreadesioniPage()">
      <h6>Preadesioni da Completare</h6>
      </div>

    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col  col-12>
      <div class="col-content" (click)="gotoContenziosoPage()">
        <h6>Stato Contenzioso</h6>
      </div>
    </ion-col>
    <ion-col  col-12>
      <div class="col-content" (click)="gotonotifichepage()">
      <h6>Notifiche e Messaggi</h6>
      </div>
    </ion-col>

  </ion-row>

  </ion-grid>
</ion-content>
