<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <h6 color="primary">{{item.title}}</h6>


  </ion-navbar>
</ion-header>

<ion-content padding text-wrap>

  <p class="large" [innerHTML]="item.html" style="font-weight:400;"> {{item.html_ex}}</p>
<br />
<p style="color:#dd0916; font-weight:600; display:block;">
<ion-icon name="calendar"></ion-icon>  {{item.data}}
  </p>
<br />
</ion-content>
