<ion-header>
  <ion-navbar>
    <p (click)="goback()">
      Back
      </p>
  </ion-navbar>
</ion-header>
<ion-content text-wrap>
<div>
  <p>
   Questa funzione richiede l’accesso da un computer nel caso sia richiesto il pagamento
    </p>
  <button style="border:2px solid red; padding:20px" [innerHTML]="item.stato_pagamenti">
    </button>

  </div>
</ion-content>
